/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&sl { release-after-ms = <3000>; };

 / {
    chosen { zmk,physical-layout = &default_layout; };

    behaviors {
        hold_move_and_tap: hold_move_and_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MOVE_AND_TAP";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            hold-trigger-key-positions = <42 43>;
            tapping-term-ms = <150>;
            flavor = "hold-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            bindings = <
&kp TAB           &kp Q      &kp W      &kp E      &kp R      &kp T                        &none  &none  &kp Y                       &kp U      &kp I      &kp O      &kp P      &kp BSPC
&kp LEFT_CONTROL  &kp A      &kp S      &kp D      &kp F      &kp G                        &none  &none  &kp H                       &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
&kp LSHFT         &kp Z      &kp X      &kp C      &kp V      &kp B                                      &kp N                       &kp M      &kp COMMA   &kp DOT    &kp FSLH   &kp RSHFT
                                &kp LEFT_GUI  &kp SPACE  &hold_move_and_tap 1 ESCAPE                &hold_move_and_tap 2 ENTER  &kp RIGHT_ALT  &kp RIGHT_GUI
            >;
        };

        NUMBER {
            display-name = "NUMBER";

            bindings = <
&kp TAB    &kp EXCL      &kp AT           &kp HASH      &kp DLLR      &kp PRCNT       &kp LCTRL  &kp RCTRL  &kp CARET            &kp AMPS       &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSPC
&kp LCTRL  &kp NUMBER_1  &kp NUMBER_2     &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp LALT   &kp RALT   &kp NUMBER_6         &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp RIGHT_ALT
&kp LSHFT  &bt BT_CLR    &rgb_ug RGB_TOG  &sys_reset    &bootloader   &studio_unlock                        &sk RA(RIGHT_SHIFT)  &trans         &trans        &trans        &trans        &kp RIGHT_SHIFT
                                          &trans        &trans        &trans                                &sk RIGHT_SHIFT      &sk RIGHT_ALT  &sk RMETA
            >;
        };

        SYMBOL {
            display-name = "SYMBOL";

            bindings = <
&kp TAB    &kp BACKSLASH  &kp MINUS  &kp LEFT_BRACE        &kp RIGHT_BRACE        &sl 4
